
*.class


*.log
*.DS_Store

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
#
# Standard Maven .gitignore
#
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

#
# IntelliJ
#
*.iml
*.idea
.idea/*
!.idea/runConfigurations/

# Eclipse specific files/directories #
######################################
.classpath
.project
.settings
.metadata

#
# Visual Studio Code
#
.settings/
.classpath
.project
.vscode/
.travis.yml
.gitattributes
.editorconfig
#Utils.*